* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #fafafa;
  padding: 0 8px 0 8px;
}

.container,
#text-box {
  max-width: 680px;
  margin: 0 auto;
}
.chat-history-container {
  min-height: 50vh;
}
.chat-history {
  background-color: #fefefe;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 0 3px #33333377;
  max-height: 50vh;
  overflow-y: scroll;
}
.chat-history > div {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.current-user {
  justify-content: flex-end;
}
.not-current-user {
  justify-self: flex-start;
}

.current-user > .message {
  display: flex;
  justify-content: flex-end;
}
.not-current-user > .message > .content {
  background: beige;
  padding: 8px;
  border-radius: 0.5em;
  max-width: max-content;
}
.current-user > .message > .content {
  border-radius: 0.5em;
  padding: 8px;
  background: aliceblue;
  max-width: max-content;
}
.current-user > .user-name {
  text-align: right;
}
.user-name {
  flex: 0 1 50%;
  margin: 8px 8px 0 8px;
  border-radius: 0.5em;
}
.message {
  flex: 0 1 100%;
  max-width: 50%;
  margin: 0 8px 8px 8px;
}

.room {
  margin-top: 40px;
  background-color: deepskyblue;
  font-weight: bold;
  box-shadow: 0 0 3px #33333377;
  padding-left: 8px;
}

form {
  margin-bottom: 40px;
  margin-top: 12px;
}

.typing-box {
  display: flex;
  box-shadow: 0 0 5px 1px #333333aa;
  margin-top: 4px;
}

textarea {
  display: inline-block;
  width: 75%;
  resize: none;
}

#text-box {
  width: 90%;
  min-height: 100px;
  outline: none;
  border: none;
}

.send-btn {
  display: inline-block;
  width: 10%;
  background-color: mediumturquoise;
  border: none;
  font-size: 1.5em;
}
.send-btn:hover {
  background-color: #55f7f1;
}
.send-icon {
  width: 70%;
}
